nav 
    ul
        li.logo
            a(href="/home") 
                img(src="img/logo.png" alt="Logo")

        block links

        li 
            a(href="/home") Home
            a(href="/aboutUs") About Us
            a(href="/finder") Finder
            a(href="/blog") Blog
            a(href="/contactus") Contact Us
            a(href="/login") Login
            a(href="/register") Register

