extends layout
block content
    .body-content 

        section.about
          section.aboutus
            .about-section
                h1.heading About Us
          .about-content
            .about1
              .content
                p
                  | Hello guys, we are FurryFriendFinder. We are the group of animal lovers who as passionate to take care of your lovely pets. We provide various facilities to your pet at our shop.
                a.btn(href='') Our Services
              .img
                img(src='/img/Pet2.png', alt='')
          
            .about1
              .img
                img(src='/img/Pet4.png', alt='')
              .content
                p
                  | Our Shop is spacious. We have various equipments which will make your pet happy. Wanna know more about us??? Feel free to contact us...
                a.btn(href='') Contact Us
        section.customer-section
          #counterArea.project-count-area
            .container
              .row
                .count-item.column
                  .single-count
                    h2.count 18
                    span Years in Business
                .count-item.column
                  .single-count
                    h2.count 299
                    span Happy People
                .count-item.column
                  .single-count
                    h2.count 300
                    span Happy Pets
                .count-item.column
                  .single-count
                    h2.count 17
                    span Award Winning
        section.facilities
          h1 Gallery
          .row
            .facilities-col
              img(src='/img/blog1.avif')
            .facilities-col
              img(src='/img/blog2.avif')
            .facilities-col
              img(src='/img/blog3.avif')
          .row
            .facilities-col
              img(src='/img/blog1.webp')
            .facilities-col
              img(src='/img/blog2.webp')
            .facilities-col
              img(src='/img/blog3.webp')
            

        section.our-team
          h2(style='text-align:center') Our Team
          .row
            .column
              .card
                img(src='/img/testimonial-1.jpg', alt='Jane', style='width:100%')
                .container
                  h2 Rose Alfred
                  p.title CEO &amp; Founder
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p rose@example.com
                  p
                    button.button Contact
            .column
              .card
                img(src='/img/testimonial-2.jpg', alt='Rose', style='width:100%')
                .container
                  h2 Jane Jimmington
                  p.title Manager
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p jane@example.com
                  p
                    button.button Contact
            .column
              .card
                img(src='/img/trainer.jpg', alt='John', style='width:100%')
                .container
                  h2 John Jacob
                  p.title Employee
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p john@example.com
                  p
                    button.button Contact
        footer#section-footer.footer-area
            #footer-top-footer.footer-top
                .container
                    .row
                        .column
                            .footer-widget
                                .footer-info-wrapper
                                    .footer-logo
                                        a(href='index.html')
                                            img(src='/img/logo.png')
                                    p Lorem ipsum dolor sit amet, co adipisi elit, sed eiusmod tempor incididunt ut laboreet dolore
                                    .social-icon
                                        ul
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-twitter
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-instagram
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-facebook
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-skype
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-dribbble
                        .column
                            .footer-widget
                                h4.footer-title QUICK LINKS
                                .footer-content
                                    ul
                                        li
                                            a(href='index.html') HOME
                                        li
                                            a(href='services.html') SERVICES
                                        li
                                            a(href='products.html') PRODUCTS
                                        li
                                            a(href='blog.html') BLOGS
                                        li
                                            a(href='contactus.html') CONTACTUS
                        .column
                            .footer-widget
                                h4.footer-title HELP
                                .footer-content
                                    ul
                                        li
                                            a(href='#') FAQ
                                        li
                                            a(href='#') PRICING PLANS
                                        li
                                            a(href='#') ORDER TRACKING
                                        li
                                            a(href='#') RETURNS 
                        .column
                            .footer-widget
                                .newsletter-wrapper
                                    p Subscribe to our newsletter and get 10% off your first purchase..
                                    .newsletter-style
                                        .subscribe-form
                                            form#Contact_footer.contact-form(method='post', action='', accept-charset='UTF-8')
                                                input(type='hidden', name='form_type', value='customer')
                                                input(type='hidden', name='utf8', value='✓')
                                                .validate
                                                    #mc_embed_signup_scroll.mc-form
                                                        .mc-form.subscribe-form
                                                            input.input_text(type='hidden', name='contact[tags]', value='newsletter')
                                                            input#Email.input_text(type='email', name='contact[email]', value='', placeholder='email@example.com', aria-label='email@example.com', autocorrect='off', autocapitalize='off')
                                                            .clear
                                                                input#Subscribe.button(type='submit', name='commit', value='SEND')
                                    .payment-img
                                        a(href='#')
                                            img(src='/img/payment_large.webp', alt='')
            #footer-bottom-footer.footer-bottom.gray-bg-3
                .container
                    .row
                        .col-12
                            .copyright.text-center
                                p Copyright &copy; 2024 
                                    a(href='#') Pets template
                                    |  | Built with 
                                    a(href='#') Elsa
                                    |  by 
                                    a(href='#') SusanThemes
                                    | .



