extends layout
block content
    .body-content

        section.finder
            .about-section
                h2 Finder 
        section.finder-content
                h1 Find your perfect pet trainer
                form.search-form(action='#')
                    input(type='text', placeholder='Search by name or postcode', required='')
                    button.material-symbols-outlined(type='sumbit') search
        section.our-team
          .row
            .column
              .card
                img(src='/img/testimonial-1.jpg', alt='Jane', style='width:100%')
                .container
                  h2 Rose Alfred
                  p.title Senior Pet trainer
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p rose@example.com
                  p
                    button.button view more
            .column
              .card
                img(src='/img/testimonial-2.jpg', alt='Rose', style='width:100%')
                .container
                  h2 Jane Jimmington
                  p.title Senior Pet trainer
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p jane@example.com
                  p
                    button.button view more
            .column
              .card
                img(src='/img/trainer.jpg', alt='John', style='width:100%')
                .container
                  h2 John Jacob
                  p.title Senior pet trainer
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p john@example.com
                  p
                    button.button view more
          .row
            .column
              .card
                img(src='/img/Man1.jpg', alt='Jane', style='width:100%')
                .container
                  h2 Rose Alfred
                  p.title Senior Pet trainer
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p rose@example.com
                  p
                    button.button view more
            .column
              .card
                img(src='/img/Man2.jpg', alt='Rose', style='width:100%')
                .container
                  h2 Jane Jimmington
                  p.title Senior Pet trainer
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p jane@example.com
                  p
                    button.button view more
            .column
              .card
                img(src='/img/Man3.jpg', alt='John', style='width:100%')
                .container
                  h2 John Jacob
                  p.title Senior pet trainer
                  p Some text that describes me lorem ipsum ipsum lorem.
                  p john@example.com
                  p
                    button.button view more
       