doctype html
html(lang="en")
    head 
        title=title
        include includes/styles
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    body 
        .page-wrapper 
            include includes/header 
            block content
            include includes/footer